{% extends "base.html.twig" %}

{% block title %}All programs{% endblock title %}
   
{% block body %}
   <h1>Toutes les categories: </h1>
   {% for category in categories %}
      <div>
         <h2>{{ loop.index }} / {{ category.name }}</h2>
      </div>
   {% else %}
      Aucune catégorie trouvée.
   {% endfor %}

   <a href="{{ path('app_index') }}">
      Retour à l'accueil
   </a>
{% endblock body %}
